extends layout

block content
      .container
            


            h1.center PUGEN
            p.center Generate passwords that you can remember

            #status


       
            .col-lg(style="padding-bottom:30px;")
                  .row
                        .input-group
                              //- span.input-group-btn @
                              .input-group-addon Site:
                                    //- button.btn.btn-default(type='button') Go!       
                                    
                              input.form-control#site(type='text', placeholder='site')
                              //- span.input-group-btn
                              //-       button.btn.btn-default(type='button') Go!
                  .row
                        .input-group  
                              .input-group-addon Keyword:
                                    //- button.btn.btn-default(type='button') Go!       
                                    
                              input.form-control#keyword(type='password', placeholder='A secret keyword')
                              //- span.input-group-btn
                              //-       button.btn.btn-default(type='button') Go!

                  .row
                        .input-group  
                              .input-group-addon Phrase:
                                    //- button.btn.btn-default(type='button') Go!       
                                    
                              input.form-control#phrase(type='text', placeholder='A memorable phrase')
                              //- span.input-group-btn
                              //-       button.btn.btn-default(type='button') Go!
                  .row
                        .input-group  
                              .input-group-addon length:
                                    //- button.btn.btn-default(type='button') Go!       
                                    
                              input.form-control#length(type='text', placeholder='Desired password length')
                              //- span.input-group-btn
                              //-       button.btn.btn-default(type='button') Go!
            
            .col-md
                  .row
                        .input-group(style="padding-bottom:50px;")
                              //- span.input-group-btn @
                              .input-group-addon Password:
                                    //- button.btn.btn-default(type='button') Go!       
                                    
                              input.form-control.readOnly#password(type='text', placeholder='Memorable generated password')
                              span.input-group-btn

                                    button.reloadBtn.btn.btn-default.btn-warning
                                          span.glyphicon.glyphicon-refresh
                                    button.acceptbtn.btn.btn-default.btn-danger(type='button') Accept!
            
            #message

            .fb-like(data-share='true', data-width='450', data-show-faces='true')

            fb:login-button(scope='email,public_key',auto_logout_link='true', onlogin='checkLoginState();')



            //- p site:
            //-       input#site(type="text", value="")

            //- p key:
            //-       input#keyword(type="text", value="weeknd")
                  
            //- p phrase:
            //-       input#phrase(type="text" , value="only loser go to school. I taught myself how to move.")

            //- p length:
            //-       input#length(type="text", value="10")

            //- p your password:
            //-       input#password(type="text", value="10")
            //-       button.copybtn.btn.btn-lg.btn-warning copy
            //-             span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate reload
            //-       button(type='button', onClick="exec();") Accept Password!


      script(src='/javascripts/bootstrap.min.js')  
      script(src='/javascripts/index.js')

      //- the server runs in the pugen subpath 
      script(src='/pugen/javascripts/bootstrap.min.js')  
      script(src='/pugen/javascripts/index.js')



