doctype html
html
	head
		title = title
		link(rel = 'stylesheet', href = '/stylesheets/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/stylesheets/style.css')
		link(rel = 'stylesheet', href = '/pugen/stylesheets/bootstrap.min.css')
		link(rel = 'stylesheet', href = '/pugen/stylesheets/style.css')
		script(src = '//code.jquery.com/jquery-1.11.3.min.js')

	body
		block content
