/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
*/
@font-face {
    font-family: 'dbscriptmedium';
    src: url('dbscript-fin-webfont.eot');
    src: url('dbscript-fin-webfont.eot?#iefix') format('embedded-opentype'),
         url('dbscript-fin-webfont.woff') format('woff'),
         url('dbscript-fin-webfont.ttf') format('truetype'),
         url('dbscript-fin-webfont.svg#dbscriptmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

a {
  color: #00B7FF;
}

body {
	font-family: 'dbscriptmedium';
    font-variant: small-caps;
    font-style: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    font-size: large;
}

.input-group{
	padding-bottom: 5px;
}
div.input-group-addon{
	width: 200px;
}

/*.form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	      box-sizing: border-box;
	padding: 10px;
	font-size: 20px;
}*/